.my-favorite {
	grid-column: 2;
	grid-row: span 3;
	border-left: 1px solid $delimeter-color;
	padding: 0 20px;
	
	&__link {
		margin: 10px 0;
		text-decoration: none;
		color: $mark-color;
	}

	.fas {
		margin: 5px;
		font-size: 20px;
		color: $golden-color;
	}
}