<header>
    <h1 class="logo">Awesome Service</h1>
    <nav class="navigation">
        <ul>
            <li>
                <a href="/">{{ first-link }}</a>
            </li>
            <li>
                <a href="/">{{ second-link }}</a>
            </li>
            <li>
                <a href="/">{{ third-link }}</a>
            </li>
        </ul>
    </nav>
</header>