.content {

	.main {
		margin-left: 200px;
		border-left: 1px solid $delimeter-color;
		.greetings {
			display: flex;

			&__container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 50px;
			}

			&__title {
				color: $heading-description-color;
			}

			&__sign_block {
				display: flex;
				align-items: center;
				div {
					margin-left: 10px;
				}
			}

			img {
				width: 40%;
				padding: 0 30px;
				object-fit: contain;
			}
		}
	}
}
