::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: $slide-bg-color;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: $button-link-icon-color;
}