.content {
	.faq {
		margin-left: 200px;
		padding: 0 30px;
		border-left: 1px solid $delimeter-color;

		&__content {
			margin: 50px 0;
		}

		&__item {
		    border: 1px solid $footer-bg-color;
		    margin: 20px 0;
		}

		&__question {
			display: flex;
			align-items: center;
			background-color: $footer-bg-color;
			padding: 0 20px;
			cursor: pointer;

			&:after {
				content: '+'; 
			    font-size: 24px;
			    color: $heading-description-color;
			    font-family: 'RubikBold';
			    margin-left: auto;
			}
			&.active:after {
				content: "-"; 
			}
		}

		&__answer {
		    background-color: white;
		    max-height: 0;
		    overflow: hidden;
		    opacity: 0;

		    &.show {
		    	opacity: 1;
		    	max-height: 500px; 
		    	padding: 20px;
		    }
		}

		.help {
			margin-bottom: 50px;
		}
	}
}