<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/favicon.ico"><![endif]-->
    <!--<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">-->
    <title>{{ title }}</title>
    {{#block "head_end"}}
    {{/block}}
</head>
<body class="default">
    {{#block "header"}}
    {{/block}}

    {{#block "content"}} 
    {{/block}}  

    {{#block "footer"}}
    {{/block}}    

    {{#block "body_end"}}
    {{/block}}
</body>
</html>