@import '../../common';
@import 'login';
@import 'registration';
@import 'socials';

.container-for-login-registration {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: $bg-color;
	overflow: hidden;
}