@function rem($pixels, $context: $font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity = $opacity-ie); //IE8
}

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix') format('embedded-opentype'),
    url($file-name + '.woff') format('woff'),
    url($file-name + '.woff2') format('woff2'),
    url($file-name + '.ttf') format('truetype'),
    url($file-name + '.svg##{$font-name}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin size-responsive($fmin, $fdiff, $breakmin, $breakdiff) {
    font-size: calc( #{$fmin} + #{$fdiff} * ((100vw - #{$breakmin}) / #{$breakdiff}) );
    @media(max-width: $breakmin) {
        font-size: $fmin;
    }
    @media(min-width: round($breakmin + $breakmax)) {
        font-size: round($fmin + $fdiff);
    }
}

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: $screen-xl) {
            @content;
        }
    }  
     @else if $point == tablet {
        @media (min-width: $screen-lg) and (max-width: #{$screen-xl - 1px}) {
            @content;
        }
    } @else if $point == small-tablet {
        @media (min-width: $screen-md) and (max-width: #{$screen-lg - 1px}) {
            @content;
        }
    } @else if $point == mobile {
        @media (min-width: $screen-sm) and (max-width: #{$screen-md - 1px}) {
            @content;
        }
    } @else if $point == small-mobile {
        @media (min-width: $screen-xs) {
            @content;
        }
    } 
}