@mixin size-responsive($fmin, $fdiff, $breakmin, $breakdiff) {
    font-size: calc( #{$fmin} + #{$fdiff} * ((100vw - #{$breakmin}) / #{$breakdiff}) );
    @media(max-width: $breakmin) {
        font-size: $fmin;
    }
    @media(min-width: round($breakmin + $breakmax)) {
        font-size: round($fmin + $fdiff);
    }
}

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: $screen-xl) {
            @content;
        }
    }  
     @else if $point == tablet {
        @media (min-width: $screen-lg) and (max-width: #{$screen-xl - 1px}) {
            @content;
        }
    } @else if $point == small-tablet {
        @media (min-width: $screen-md) and (max-width: #{$screen-lg - 1px}) {
            @content;
        }
    } @else if $point == mobile {
        @media (min-width: $screen-sm) and (max-width: #{$screen-md - 1px}) {
            @content;
        }
    } @else if $point == small-mobile {
        @media (min-width: $screen-xs) {
            @content;
        }
    } 
}