h1 {
	@include size-responsive(36px, 18, $breakmin, $breakmax);
}

h2 {
	@include size-responsive(20px, 10, $breakmin, $breakmax);
}

label {
	@include size-responsive(16px, 2, $breakmin, $breakmax);
	font-family: RubikBold;
	font-variant: small-caps;
}

input {
	border: none;
	outline: none;

}

select {
	outline: none;
	padding: 5px;
}

