h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	@include size-responsive(24px, 18, $breakmin, $breakmax);
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
	
}

a {
	display: inline-block;
  	text-decoration: none;
  	color: $main-font-color;
}

.button {
	width: 230px;
	display: inline-block;
	padding: .5rem 0;
	border: 2px solid $button-link-icon-color;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	background-color: $button-link-icon-color;
	transition: background-color .3s;
	color: $default-color;
}

.button:hover {
	border: 2px solid $button-link-icon-color;
	background-color: $default-color;
	color: $button-link-icon-color;
	cursor: pointer;
}

.link {
	&:hover {
		color: $button-link-icon-color;
	}
}