//Font
$main-font: Helvetica, Arial, sans-serif;

//Size
$main-font-size: 18px;

$desktop-width: 1280px;
$laptop-width: 980px;
$mobile-width: 480px;

//Color
$main-bg-color: red;
$main-font-color: blue;
$button-normal-color: #00AD29;
$button-hover-color: #008B24;
$button-clicked-color: #00691B;
