//Font
$main-font-family: Rubik, Helvetica, Arial, sans-serif;

//Size
$desktop-font-size: 18px;
$tablet-font-size: 16px;
$mobile-font-size: 14px;

$gap-width: 70px;

//Responsable font-size
$font-base-min: 16px;
$font-base-max: 2;
$breakmin: 425px;
$breakmax: 775;

//Screen width
$screen-xs: 425px;  
$screen-sm: 576px;  
$screen-md: 768px;  
$screen-lg: 992px;  
$screen-xl: 1200px; 

//Color
$section-bg-color: #eff2ff;

$main-font-color: #8798ad;
$mark-color: #2e384d;
$border-color: #e0e7ff;

$button-link-icon-color: #2e5bff;
$delimeter-color: #dfe7ff;

$bg-color: #d5deff;
