//Font
$body-font-family: Rubik, Helvetica, Arial, sans-serif;

//Size
$desktop-font-size: 18px;
$tablet-font-size: 16px;
$mobile-font-size: 14px;

//Site name
$site-name: 32px;

//Responsable font-size
$font-base-min: 16px;
$font-base-max: 2;
$breakmin: 425px;
$breakmax: 775;

$screen-xs: 425px;  
$screen-sm: 576px;  
$screen-md: 768px;  
$screen-lg: 992px;  
$screen-xl: 1200px; 

//Color
$default-color: #fff;
$bg-color: #eff2ff;

$main-font-color: #8798ad;
$heading-description-color: #2e384d;

$button-link-icon-color: #2e5bff;

$slide-bg-color: rgba(46, 91, 255, .3);
$delimeter-color: #dfe7ff;

$footer-bg-color: #d5deff;
